<div ng-controller="resourceDisplayController">
  {{Name}}
  <div ng-repeat="resource in Resources">
    <resource resource-model="resource"></resource>
  </div>
  <!-- <div ng-repeat="resource in Resources">
    <p>
      {{resource.name}}: {{resource.amount}}
    </p>
  </div> -->
</div>
